{% extends "base.htm" %}
{% block title %}Browse channels{% endblock %}
{% block content %}

{% from 'macros.htm' import alert_permissions, alert_no_messages %}

<h1 class="page-header">Conversations history
  <ul class="pagination pagination-sm" style="vertical-align:middle;margin:0;">
    <li class="{{'active' if f=='all'     else ''}}">
      <a href="/browse?filter=all">all</a>
    </li>
    <li class="{{'active' if f=='active'  else ''}}">
      <a href="/browse?filter=active">active</a>
    </li>
    <li class="{{'active' if f=='my'      else ''}}">
      <a href="/browse?filter=my">my</a>
    </li>
    <li class="{{'active' if f=='archive' else ''}}">
      <a href="/browse?filter=archive">archive</a>
    </li>
  </ul>
</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Public channels ({{ channels|length|string }})
    </h3>
  </div>
  <div class="panel-body">
    {% if channels %}
    <ol class="breadcrumb" style="background-color:transparent;margin:0;padding:0;">
      <li style="display:none;"><a href="#"></a></li>
      {% for c in channels %}
      <li><a href="/browse?s={{c['_id']}}">#{{c['name']}}</a></li>
      {% endfor %}
      <li><a href="#"></a></li>
    </ol>
    {% else %}
    {{ alert_no_messages(f) }}
    {% endif%}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Private Groups ({{ groups|length|string }})
    </h3>
  </div>
  <div class="panel-body">
    {% if groups %}
    <ol class="breadcrumb" style="background-color:transparent;margin:0;padding:0;">
      <li style="display:none;"><a href="#"></a></li>
      {% for c in groups %}
      <li><a href="/browse?s={{c['_id']}}">#{{c['name']}}</a></li>
      {% endfor %}
      <li><a href="#"></a></li>
    </ol>
    {% elif advanced_user %}
    {{ alert_no_messages(f) }}
    {% else %}
    {{ alert_permissions() }}
    {% endif%}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Direct Messages ({{ ims|length|string }})
    </h3>
  </div>
  <div class="panel-body">
    {% if ims %}
    <ol class="breadcrumb" style="background-color:transparent;margin:0;padding:0;">
      <li style="display:none;"><a href="#"></a></li>
      {% for c in ims %}
      <li><a href="/browse?s={{c['_id']}}">{{c['name']}}</a></li>
      {% endfor %}
      <li><a href="#"></a></li>
    </ol>
    {% elif advanced_user %}
    {{ alert_no_messages(f) }}
    {% else %}
    {{ alert_permissions() }}
    {% endif%}
  </div>
</div>

{% endblock %}
