{% extends "base.htm" %}
{% block title %}Browse channels{% endblock %}
{% block content %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Public channels, {{ f + ': ' + channels|length|string }}</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li role="presentation" class="{{'active' if f=='all'     else ''}}">
            <a href="/browse?filter=all">All</a>
        </li>
          <li role="presentation" class="{{'active' if f=='active'  else ''}}">
            <a href="/browse?filter=active">Active</a>
        </li>
          <li role="presentation" class="{{'active' if f=='my'      else ''}}">
            <a href="/browse?filter=my">My</a>
            </li>
          <li role="presentation" class="{{'active' if f=='archive' else ''}}">
            <a href="/browse?filter=archive">Archive</a>
        </li>
        </ul>

        <ol class="breadcrumb">
          <li style="display:none;"><a href="#"></a></li>
        {% for c in channels %}
          <li><a href="/browse?s={{c['_id']}}">#{{c['name']}}</a></li>
        {% endfor %}
          <li><a href="#"></a></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Private Groups</a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        You need to grant advanced permissions <a href="/">here</a>. [NOT IMPLEMENTED YET]
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Direct Messages</a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        You need to grant advanced permissions <a href="/">here</a>. [NOT IMPLEMENTED YET]
      </div>
    </div>
  </div>
</div>

{% endblock %}
