{% extends "base.htm" %}
{% block title %}Search page{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    {% for r in results %}
    <hr style="clear:both;"/>
    <img src="{{r['from']['avatar']}}" align="left" style="margin:4px;">
    #{{r['to']['name']}}, {{r['ts']}}<br/>
    <b>{{r['from']['name']}}</b>:
    {{r['msg']}}
    {% endfor %}
    {% if q!='' %}
    <hr style="clear:both;"/>
    <a href="?q={{q}}&p={{p+1}}" style="font-size:14pt;">&gt;&gt;&gt;</a>
    {% endif %}
{% endblock %}
