<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title>Slack archive search</title>
    </head>
    <body onload="document.forms[0].elements[0].focus()">
        <form action="">
            <input name="q" value="{{q}}" style="font-size:14pt;width:100%;"/>
        </form>
        {% for r in results %}
        <hr style="clear:both;"/>
        <img src="{{r['from']['avatar']}}" align="left" style="margin:4px;">
        #{{r['to']['name']}}, {{r['ts']}}<br/>
        <b>{{r['from']['name']}}</b>:
        {{r['msg']}}
        {% endfor %}
        {% if q!='' %}
        <hr style="clear:both;"/>
        <a href="?q={{q}}&p={{p+1}}" style="font-size:14pt;">&gt;&gt;&gt;</a>
        {% endif %}
    </body>
</html>
