{% extends "base.htm" %}
{% block title %}Browse channels{% endblock %}
{% block content %}

<nav>
  <ul class="pagination">
    <li class="disabled"<a>Pages</a></li>
    {% for page in range(((total/n)|round(0, 'ceil'))|int) %}
    <li class="{{'active' if page==p else ''}}"><a href="?s={{s}}&p={{page}}">{{page+1}}</a></li>
    {% endfor %}
  </ul>
</nav>

{% for r in results %}
<hr style="clear:both;"/>
<img src="{{r['from']['avatar']}}" align="left" style="margin:4px;">
#{{r['to']['name']}}, {{r['ts']}}<br/>
<b>{{r['from']['name']}}</b>:
{{r['msg']}}
{% endfor %}
<hr style="clear:both;"/>


<nav>
  <ul class="pagination">
    <li class="disabled"><a>Pages</a></li>
    {% for page in range(((total/n)|round(0, 'ceil'))|int) %}
    <li class="{{'active' if page==p else ''}}"><a href="?s={{s}}&p={{page}}">{{page+1}}</a></li>
    {% endfor %}
  </ul>
</nav>

{% endblock %}
